name: Aggiungi stampante in attesa

on:
  repository_dispatch:
    types: [aggiungi_stampante]

jobs:
  add_entry:
    runs-on: ubuntu-latest
    environment: backend

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Recupero file inattesa.csv
      run: |
        if [ ! -f inattesa.csv ]; then
          echo "" > inattesa.csv
        fi

    - name: Aggiungi riga
      run: |
        echo "${{ github.event.client_payload.ip }};${{ github.event.client_payload.dns }}" >> inattesa.csv

    - name: Commit & Push
      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
      run: |
        git config user.name "GitHub Action"
        git config user.email "actions@github.com"
        git add inattesa.csv
        git commit -m "Aggiunto ${{
          github.event.client_payload.ip
        }} in attesa"
        git push https://x-access-token:${GH_TOKEN}@github.com/${{ github.repository }}.git HEAD:main
